* {
    padding: 0;
    margin: 0;
    color: #bebebe;
}
html {
    background-color: grey;
}
.form {
    height: 300px;
    width: 400px;
    background-color: #292c35;
    border: 2px black solid;
    margin-left: 700px;
    margin-top: 350px;
    border-radius: 5px;
}
form {
    margin-left: 26%;
    margin-top: 20%;
}
input {
    background: none;
    border: none;
    border-bottom: 2px red solid;
}
button {
    height: 20px;
    width: 170px;
    background-color: grey;
    transition: 0.5s;
}
button:hover {
    transition: 1s;
    background-color: #292c35;
}
p {
    margin-left: 810px;
    position: relative;
    bottom: 100px;
}